@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

// ====================
// VARIABLES
// ====================
$bg-body: #232333;
$bg-color-secondary: #2b2c40;
$bg-color-hover: rgba(124,125,182,.06);


// Font
$montserrat: 'Montserrat', sans-serif;

$text-color: #a3a4cc;
$text-color-active: #cbcbe2;
$text-heading: #696cff;