@import './sass/reset';
@import './sass/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

// ====================
// VARIABLES
// ====================
$bg-body: #232333;
$bg-color-secondary: #2b2c40;
$bg-color-hover: rgba(124,125,182,.06);


// Font
$montserrat: 'Montserrat', sans-serif;

$text-color: #a3a4cc;
$text-color-active: #cbcbe2;
$text-heading: #696cff;

body {
    background: $bg-body;
    // height: 100vh;
    font-family: $montserrat;
    font-size: 15px;
}

#app {
    // display: grid;
    // grid-template-columns: 260px 1fr;

    #main {
        // position: relative;
        // top: 0;
        // left: 0;
        // margin: 40px;

        main {
            height: 1500px;
            border: 1px solid #fff;
        }
    }
}

@import './sass/layers/sidebar';
@import './sass/layers/header';
@import './sass/layers/footer';
@import './sass/pages/dashboard.scss';